<mat-card class="user-form-card">
    <mat-card-header>
      <mat-card-title>User Information</mat-card-title>
      <mat-card-subtitle>User Details</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-section">
          <h3>User Information</h3>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Your First Name</mat-label>
            <input matInput formControlName="firstName" required />
            <mat-error *ngIf="userForm.get('firstName')?.hasError('required') && userForm.get('firstName')?.touched">
                First Name is required.
            </mat-error>
              
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Your Last Name</mat-label>
            <input matInput formControlName="lastName" required />
            <mat-error *ngIf="userForm.get('lastName')?.hasError('required') && userForm.get('lastName')?.touched">
                Last Name is required.
            </mat-error>
              
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Your Address</mat-label>
            <input matInput type="address" formControlName="address" required />
            <mat-error *ngIf="userForm.get('address')?.hasError('required') && userForm.get('address')?.touched">
              Address is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Your Phone</mat-label>
            <input matInput type="phone" formControlName="phone" required />
            <mat-error *ngIf="userForm.get('phone')?.hasError('required') && userForm.get('phone')?.touched">
              Phone number is required.
            </mat-error>
            <mat-error *ngIf="userForm.get('email')?.hasError('phone') && userForm.get('phone')?.touched">
              Please enter a valid phone number.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Your Email</mat-label>
            <input matInput type="email" formControlName="email" required />
            <mat-error *ngIf="userForm.get('email')?.hasError('required') && userForm.get('email')?.touched">
              Email is required.
            </mat-error>
            <mat-error *ngIf="userForm.get('email')?.hasError('email') && userForm.get('email')?.touched">
              Please enter a valid email address.
            </mat-error>
          </mat-form-field>
        </div>
    
        <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Send</button>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- User Table -->

<mat-card class="users-table-card">
  <mat-card-header>
    <mat-card-title>User List</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="e.g. Mohammed" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let row"> {{row.address}} </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
            <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="3">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>



